@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

:root {
  --main-color: #eafff9;
  --second: #00aeef;
  --third: #13e6af;
  --fourth: #19090b;
  --fifth: #780c56;
  --sixth: #d5ece6;
  --success: #00b989;
}
* {
  box-sizing: border-box;
}

body,
html,
#root,
.main-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: 'Hind', sans-serif;
}

body {
  background-image: url(Images/logo.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
