@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

:root {
  --positive: #2ba000;
  --lightBackground: #f0f0f0;
  --darkHeader: #5b1680;
  --primary: #00004b;
  --lightType: #eeffce;
  --secondary: #5a5aff;
  --suppressed: #707070;
  --soft: #ffffff;
  --gradientOne: #000000;
  --gradientTwo: #4a006f;
}

* {
  box-sizing: border-box;
}

body,
html,
#root,
.main {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: 'Hind', sans-serif;
}

body {
  background-image: linear-gradient(
    to bottom right,
    var(--gradientOne),
    var(--gradientTwo)
  );
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main > div {
  height: 95%;
  position: relative;
}

.main {
  width: 75%;
  min-width: 500px;
}

/********************** Colors **************************/
.positive {
  background: var(--positive);
}
.lightBackground {
  background: var(--lightBackground);
}
.darkHeader {
  color: var(--darkHeader);
}
.primary {
  color: var(--primary);
}
.lightType {
  color: var(--lightType);
}
.secondary {
  background: var(--secondary);
}
.surpressed {
  color: var(--suppressed);
}
.surpressedBackground {
  background: var(--suppressed);
}
.soft {
  color: var(--soft);
}

/* Other */
.pill {
  border-radius: 20px;
}

.well {
  overflow-y: scroll;
}

/* Overrides */
button {
  border: none;
  border-radius: 20px;
  color: var(--soft);
  width: 290px;
  height: 40px;
}
button:hover {
  cursor: pointer;
}

label {
  color: var(--lightType);
  padding: 10px;
}
